:root {
    --white:#FFF;
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --slate: #434455;
    --cloud: #F4F4FD;
    --ocean: #404BBF;
    --white2:#E7E9FC;
    --yellowgreen: rgb(172, 227, 110);
    --green: green;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: .32px;
    line-height: 1.5;
    font-weight: 500; 
    background-color: var(--white);
}

/* studio and portfolio html */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 72px;
    border-bottom: 1px solid var(--white2);
}

header a {
    text-decoration: none;
}

a:hover {
    color: var(--ocean);
     }

header nav {
    align-items: center;
    display: flex;
    margin-left: 156px;
}

/* header nav .logo{

    margin-top: 25.5px;
} */

header nav a span{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

header nav a span.web {   
    color:var(--iris);
   
}

header nav a span.studio {
    color: var(--navyblue);
}

header nav ul {  
    margin-left: 36px;
    gap: 40px;
    display: flex;
    color: var(--navyblue);
    
    list-style: none;
}

header address{
    margin-left: auto;
    margin-right: 156px;
    display: flex;
    gap:40px;

}


header address a {    
    color: var(--slate);
}

/* studio html */
section.hero {
    background: var(--navyblue);
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    }

section.hero h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 1.12px;
    color: var(--white);
}

section .order-button {
    padding: 16px 32px;
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    color:var(--white);
    
    letter-spacing: 0.64px;
}

section .order-button:hover{
    background: var(--cloud);
    color:var(--iris);
}

section .order-button:focus{
    background: var(--cloud);
    color:var(--iris);
}

section .order-button:active{
    background: var(--yellowgreen);
    color:var(--green);
}

section.feature ul {
    margin-top: 120px;
    gap: 24px;
    display: flex;
    justify-content: center;
    list-style: none;
}

section.feature ul li {
    width: 264px;
    gap: 24px;
}

.section.feature ul li h2 {
    color: var(--navyblue);
    font-size: 20px;
    
    line-height: 1.2; /* 120% */
    letter-spacing: 0.4px;
}

section.feature ul li p {
    color: var(--slate);
}

section.services {
    margin-top: 120px;
    justify-content: center;
}

section.services > h2 {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

section.services > ul {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

section.services ul li{
    margin-left: 24px;
    width: 360px;
    height: 300px;
    border: 1px solid var(--white2);
    background:url(<path-to-image>),lightgray 50% / cover no-repeat;
}

section.key-people {
    margin-top: 120px;
    height: 732px;
    background:var(--cloud);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

section.key-people h2 {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

section.key-people ul {
    margin-top: 72px;
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 24px;
}

section.key-people ul li{
    text-align: center ;
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

section.key-people ul li img {
    width: 264px;
    height: 260px;
    background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}

section.key-people ul li h3 {
    color: var(--navyblue, var(--navyblue));
    font-size: 20px;
    
    line-height: 1.2; /* 120% */
    letter-spacing: 0.4px;
}

section.key-people ul li p {
    color: #var(--slate);
}

/* studio and portfolio html */
footer {
    height: 312px;
    background: var(--navyblue);
}

footer .logo {
    text-decoration: none;
    margin-left: 156px;
    display: flex;
}

footer a span {
    margin-top: 101.5px;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

footer a span.web {
    color: var(--iris);
}

footer a span.studio {
    color: var(--cloud);
}

footer p {
    margin-left: 156px;
    padding-top: 17.5px;
    width: 264px;
    color: var(--cloud);
}

/* portfolio html */
.filters{
    margin-bottom: 72px;
    margin-top: 96px;
}

.filters ul{
    display: flex;
    justify-content:center;
    gap: 24px;
    list-style:none;
}

.filters li button{
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--white2);
    background: var(--cloud);
    color:var(--iris);
    text-align: center;
    
    letter-spacing: 0.64px;
    cursor: pointer;
} 

.filters li button:hover{
    color:var(--white);
    border-radius: 4px;
    background: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.filters li button:focus{
    color: var(--white);
    border-radius: 4px;
    background: var(--ocean, var(--ocean));
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.filters li button:active{
background: var(--yellowgreen);
    color:var(--green);
}

.project-cards{
    margin-top: 72px;
    margin-bottom: 82px;
}

.project-cards ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap:24px
}

.project-cards li {
    margin-bottom: 38px;
    border: 1px solid var(--cornflower, var(--white2));
    background: var(--white, var(--white));
    width: 360px;
    height: 420px;
}

.project-cards li a img {
    height: 300px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;  
}

.project-cards li h3 {
    margin-top: 32px;
    color: var(--navyblue);
    font-size: 20px;
    
    line-height: 1.2; /* 120% */
    letter-spacing: 0.4px;
}

.project-cards li p {
    color: var(--slate);
    font-weight: 400;
}




