/* :root {
    --white:#FFF;
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --slate: #434455;
    --cloud: #F4F4FD;
    --ocean: #404BBF;
} */

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    width: 1440px;

}

/* studio and portfolio html */
header {
    display: flex;
    height: 72px;
    border-bottom: 1px solid #E7E9FC;
    background: #FFF;
    justify-content: center;
}

header a {
    text-decoration: none;
}

a:hover {
    color: #404BBF;
     }

header nav {
    display: flex;
}

header nav .logo{
    margin-top: 25.5px;
}

header nav a span{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

header nav a span.web {   
    color:#4D5AE5
   
}

header nav a span.studio {
    color: #2E2F42;
}

header nav ul {  
    margin-left: 36px;
    margin-top: 24px;
    gap: 40px;
    display: flex;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    list-style: none;
}

header address{
    margin-top: 24px;
    margin-left: 332px;
}


header address a {    
    color:#434455;
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

header address a.phone {
    margin-left: 40px;
} 

/* studio html */

section.hero {
    background: #2E2F42;
    height: 600px;
}

section.hero h1 {
    padding-top: 188px;
    padding-bottom: 48px;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
    color: #FFF;
    text-align: center;
}

section .order-button {
    padding: 16px 32px;
    margin-left: 636px ;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

section .order-button span {
    color:#FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
}

section.feature ul {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    list-style: none;
}

section.feature ul li {
    width: 264px;
    margin-left: 24px;
}

.section.feature ul li h2 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}

section.feature ul li p {
    color: #434455;
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

section.services {
    margin-top: 120px;
}

section.services h2 {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

section.services ul {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

section.services ul li{
    margin-left: 24px;
    width: 360px;
    height: 300px;
    border: 1px solid #E7E9FC;
    background:url(<path-to-image>),lightgray 50% / cover no-repeat;
}

section.key-people {
    margin-top: 120px;
    width: 1440px;
    height: 732px;
    background:#F4F4FD;
    justify-content: center;
}

section.key-people h2 {
    padding-top: 120px;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

section.key-people ul {
    margin-top: 72px;
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 24px;
}

section.key-people ul li{
    text-align: center ;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

section.key-people ul li img {
    width: 264px;
    height: 260px;
    background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}

section.key-people ul li h3 {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}

section.key-people ul li p {
    color: #434455;
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

/* studio and portfolio html */
footer {
    height: 312px;
    background: #2E2F42;
}

footer .logo {
    text-decoration: none;
    margin-left: 156px;
    display: flex;
}

footer a span {
    margin-top: 101.5px;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

footer a span.web {
    color: #4D5AE5;
}

footer a span.studio {
    color: #F4F4FD;
}

footer p {
    margin-left: 156px;
    padding-top: 17.5px;
    width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

/* portfolio html */
.filters{
    margin-bottom: 72px;
    margin-top: 96px;
}

.filters ul{
    display: flex;
    justify-content:center;
    gap: 24px;
    list-style:none;
}

.filters li button{
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
    background: #F4F4FD;
    color:#4D5AE5;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150%*/
    letter-spacing: 0.64px;
    cursor: pointer;
} 

.filters li button:hover{
    color:#FFF;
    border-radius: 4px;
    background: #404BBF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.filters li button:focus{
    color: var(--white, #FFF);
    border-radius: 4px;
    background: var(--ocean, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.project-cards{
    margin-top: 72px;
    margin-bottom: 82px;
}

.project-cards ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap:24px
}

.project-cards li {
    margin-bottom: 38px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
    width: 360px;
    height: 420px;
}

.project-cards li a img {
    height: 300px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;  
}

.project-cards li h3 {
    margin-top: 32px;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}

.project-cards li p {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}




